<!DOCTYPE html>
<html   lang="hu" class="h-100" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/basetags :: head">
    <title>
        The Recipe Book
    </title>
</head>

<!-- body start -->
<body class="d-flex flex-column h-100">

<!-- html header tag include with navigation -->
<header th:replace="fragments/basetags :: header('recipes')"></header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <div class="row mt-3">

            <!-- main content -->
            <div class="col-md-12 mx-2 rounded rounded-5 bg-light main-content" id="main-content">
                <div th:switch="${recipes}" class="card card-default p-2 pt-4">
                    <div class="card-heading row">

                        <!-- header - left side - title and counter -->
                        <div class="col-md-4">
                            <h5 th:text="#{recipes}">Recipes</h5>
                            <span class="badge bg-secondary" th:text="${numberOfRecipes}"></span>
                        </div>

                        <!-- header - center - message panel -->
                        <div th:replace="fragments/basetags :: message-panel" class="col-md-4"></div>

                        <!-- header - right side - action -->
                        <div class="col-md-4">
                            <span class="float-end"><a href="/recipe/new">New recipe<i class="fas fa-long-arrow-alt-right"></i></a></span>
                        </div>
                    </div>

                    <!-- Category selector -->
                    <div th:case="*" class="card-body">
                        <form method="POST" action="#">
                            <select class="form-control text-white bg-dark" id="categorySelect" name="category">
                                <option value="0">Összes</option>
                                <option
                                        th:each="category: ${categories}"
                                        th:value="${category.id}"
                                        th:text="${category.name}"
                                        th:selected="(${category.id} == ${selectedCategory})"
                                >opt</option>
                            </select>
                        </form>

                        <!-- content -->
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr class="table-dark">
                                <th th:text="#{id}">Id</th>
                                <th th:text="#{name}">Name</th>
                                <th th:text="#{description}">Description</th>
                                <th th:text="#{operations}">Operations</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="rcp : ${recipes}">
                                <td th:text="${rcp.id}"></td>
                                <td th:text="${rcp.name}"></td>
                                <td th:text="${rcp.description}"></td>
                                <td>
                                    <a th:href="@{/recipe/edit/{id}(id=${rcp.id})}"  th:title="#{edit}" class="text-blue"><i class="fa fa-pen"></i></a>&nbsp;
                                    <a th:href="@{/recipe/delete/{id}(id=${rcp.id})}" th:title="#{delete}" class="text-red"><i class="fa fa-times red-icon"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- footer html tag -->
<footer th:replace="fragments/basetags :: footer"></footer>
<script th:src="@{/webjars/jquery/jquery.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{/js/base-js.js}"></script>
</body>
</html>