<!DOCTYPE html>
<html   lang="hu" class="h-100" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/basetags :: head">
    <title>
        The Recipe Book
    </title>
</head>

<!-- body start -->
<body class="d-flex flex-column h-100">

<!-- html header tag include with navigation -->
<header th:replace="fragments/basetags :: header('recipes')"></header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <div class="row mt-3">

            <!-- main content -->
            <div class="col-md-12 mx-2 rounded rounded-5 bg-light main-content" id="main-content">

                <div class="row mt-3">

                    <!-- header - left side - title -->
                    <div class="col-md-4">
                        <h5><span class="badge bg-secondary mb-3" th:text="${action} == 'upd' ? 'Update Recipe' : 'New Recipe' "></span></h5>
                    </div>

                    <!-- header - center - message panel -->
                    <div th:replace="fragments/basetags :: message-panel" class="col-md-4"></div>

                    <!-- header - right side - action -->
                    <div class="col-md-4">
                        <span class="float-end"><a href="/recipe/all">Back to list<i class="fas fa-long-arrow-alt-right"></i></a></span>
                    </div>

                    <!-- form1 -->
                    <form
                            action="#"
                            class="needs-validation"
                            enctype="multipart/form-data"
                            id="recipe-form"
                            method="post"
                            th:action="${action} == 'upd' ? @{/recipe/update/{id}(id=${recipe.id})} : @{/recipe/add}"
                            th:object="${recipe}"
                    >
                        <table class="table table-bordered">
                            <tr>
                                <th>Válassz kategóriát (*)</th>
                                <td>
                                    <select multiple class="form-control" id="recipeCategories" name="recipeCategories" required>
                                        <option
                                                th:each="rcat: ${recipeCategories}"
                                                th:value="${rcat.id}"
                                                th:text="${rcat.name}"
                                                th:selected="${action} != 'new' ? ${selectedCategories.contains(rcat)} : null"
                                        >opt
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th th:text="#{name}+' *'">Name</th>
                                <td><input type="text" name="name" class="form-control" th:value="${recipe.name}" required/>
                                    <span th:if="${#fields.hasErrors('name')}" th:errors="${recipe.name}" class="text-danger"></span></td>

                            </tr>
                            <tr>
                                <th th:text="#{description}+' *'">Description*</th>
                                <td><textarea class="form-control" name="description" th:text="${recipe.description}" required></textarea>
                                    <span th:if="${#fields.hasErrors('description')}" th:errors="${recipe.description}" class="text-danger"></span></td>
                            </tr>
                            <tr>
                                <th>Difficulty*</th>
                                <td>
                                    <select class="form-control" name="difficulty" required>
                                        <option
                                                th:each="difficulty : ${T(hu.alagi.SpringRecipeBook.entity.Difficulty).values()}"
                                                th:value="${difficulty}"
                                                th:text="${difficulty}"
                                                th:selected="${recipe.difficulty}==${difficulty}"
                                        ></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>Servings *</th>
                                <td><input type="number" name="servings" class="form-control" pattern="[0-9]+" th:value="${recipe.servings}" required/>
                                    <span th:if="${#fields.hasErrors('servings')}" th:errors="${recipe.servings}" class="text-danger"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>Cooking time in minutes</th>
                                <td><input type="number" name="cookingTime" class="form-control" pattern="[0-9]+" th:value="${recipe.cookingTime}" />
                                    <span th:if="${#fields.hasErrors('cookingTime')}" th:errors="${recipe.cookingTime}" class="text-danger"></span></td>
                            </tr>
                            <tr>
                                <th>Preparation time in minutes</th>
                                <td><input type="number" name="preparationTime" class="form-control" pattern="[0-9]+" th:value="${recipe.preparationTime}" />
                                    <span th:if="${#fields.hasErrors('preparationTime')}" th:errors="${recipe.preparationTime}" class="text-danger"></span></td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" class="btn btn-danger" name="addRecipe" th:value="${action} == 'upd' ? 'Update' :'Add' " />
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>


                <!-- Ingredient list -->
                <div class="col-md" th:if="${action} == 'upd'">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <center>
                                        <h4>Ingredient List</h4>
                                    </center>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <table class="table table-bordered" ID="recipeIngredients" th:object="${recipe}">
                                        <thead>
                                        <tr class="table-dark">
                                            <th th:text="#{amount}">Amount</th>
                                            <th th:text="#{unit-of-measure}">UnitOfMeasure</th>
                                            <th th:text="#{ingredient}">Ingredient</th>
                                            <th th:text="#{operations}">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="rcpIng : ${recipe.recipeIngredients}">
                                            <td th:text="${rcpIng.amount}"></td>
                                            <td th:text="${rcpIng.unitOfMeasure.abbreviation}"></td>
                                            <td th:text="${rcpIng.ingredient.name}"></td>
                                            <td>
                                                <a th:href="@{/recipe/{id}/delete/{ingId}/{uomId}(id = ${recipe.id}, ingId=${rcpIng.ingredient.id}, uomId=${rcpIng.unitOfMeasure.id})}" th:title="#{delete}" class="text-red"><i class="fa fa-times red-icon"></i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <!-- form2 -->
                                        <form
                                                class="needs-validation"
                                                action="#"
                                                method="post"
                                                enctype="multipart/form-data"
                                                th:object="${recipeIngredient}"
                                                th:action="@{/recipe/{id}/ingredient(id=${recipe.id})}">
                                            <table class="table table-bordered table-dark">
                                                <tr>
                                                    <td>
                                                        <input type="number" name="amount" id="amount" class="form-control" required />
                                                    </td>
                                                    <td>
                                                        <select id="uomSelector" name="unitOfMeasure" class="form-select form-control-color" required>
                                                            <option value="0">Choose Unit of Measure</option>
                                                            <option
                                                                    th:each="uom : ${unitsOfMeasure}"
                                                                    th:value="${uom.id}"
                                                                    th:text="${uom.abbreviation}"></option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select id="ingredientSelector" name="ingredient" class="form-select" required>
                                                            <option value="0">Choose an ingredient</option>
                                                            <option
                                                                    th:each="ing : ${ingredients}"
                                                                    th:value="${ing.id}"
                                                                    th:text="${ing.name}"></option>
                                                        </select>

                                                    </td>
                                                    <td>
                                                        <input type="submit" class="btn btn-outline-primary" name="addRecipeIngredient" th:value="Add" />
                                                        <input type="hidden" name="recipe" th:value="${recipe.id}"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4">
                                                        <div th:if="${showerror}">
                                                            <ul>
                                                                <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global} ? globalerr : fielderr">
                                                                    <span th:text="${e.global} ? '*' : ${e.fieldName}">The field name</span> |
                                                                    <span th:text="${e.message}">The error message</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- footer html tag -->
<footer th:replace="fragments/basetags :: footer"></footer>
<script th:src="@{/webjars/jquery/jquery.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{/js/base-js.js}"></script>
</body>
</html>