<!DOCTYPE html>
<html   lang="hu" class="h-100" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/basetags :: head">
    <title>
        The Recipe Book
    </title>
</head>

<!-- body start -->
<body class="d-flex flex-column h-100">

<!-- html header tag include with navigation -->
<header th:replace="fragments/basetags :: header('unit')"></header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <div class="row mt-3">

            <!-- main content -->
            <div class="col-md-12 mx-2 rounded rounded-5 bg-light main-content" id="main-content">

                <div class="row mt-3">

                    <!-- header - left side - title -->
                    <div class="col-md-4">
                        <h5><span class="badge bg-secondary mb-3" th:text="${action} != 'upd' ? 'New Unit of Measure' :'Update Unit of Measure' "></span></h5>
                    </div>

                    <!-- header - center - message panel -->
                    <div th:replace="fragments/basetags :: message-panel" class="col-md-4"></div>

                    <!-- header - right side - action -->
                    <div class="col-md-4">
                        <span class="float-end"><a th:text="#{nav.backToList}" th:href="@{/uom/all}">Back to list<i class="fas fa-long-arrow-alt-right"></i></a></span>
                    </div>

                    <!-- form -->
                    <form class="needs-validation" method="post" enctype="multipart/form-data" action="#" th:object="${unit}"  th:action="${action} == 'new' ? @{/uom/add} : @{/uom/update/{id}(id=${unit.id})}">
                        <div class="mb-3">
                            <label for="abbreviation" class="form-label" th:text="#{abbr}">Abbr</label>
                            <input type="text" id="abbreviation" class="form-label" name="abbreviation" th:value="${unit.abbreviation}" placeholder="Abbr">
                            <div class="invalid-feedback">Enter the abbreviation of Unit</div>
                            <span th:if="${#fields.hasErrors('abbreviation')}" th:errors="${unit.abbreviation}" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="longName" class="form-label">Long Name of Unit</label>
                            <input type="text" id="longName" class="form-label" name="longName" th:value="${unit.longName}" placeholder="Long Name">
                            <div class="invalid-feedback">Enter the long name of Unit</div>
                            <span th:if="${#fields.hasErrors('longName')}" th:errors="${unit.longName}" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary" type="submit" name="add" th:text="${action} != 'upd' ? 'Add' :'Update' ">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- footer html tag -->
<footer th:replace="fragments/basetags :: footer"></footer>
<script th:src="@{/webjars/jquery/jquery.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{/js/base-js.js}"></script>
</body>
</html>