<!DOCTYPE html>
<html   lang="hu" class="h-100" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/basetags :: head">
    <title>
        The Recipe Book
    </title>
</head>

<!-- body start -->
<body class="d-flex flex-column h-100">

<!-- html header tag include with navigation -->
<header th:replace="fragments/basetags :: header('ingredient')"></header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <div class="row mt-3">

            <!-- main content -->
            <div class="col-md-12 mx-2 rounded rounded-5 bg-light main-content" id="main-content">

                <div class="row mt-3">

                    <!-- header - left side - title -->
                    <div class="col-md-4">
                        <h5><span class="badge bg-secondary mb-3" th:text="${action} != 'upd' ? 'New ingredient' :'Update ingredient' "></span></h5>
                    </div>

                    <!-- header - center - message panel -->
                    <div th:replace="fragments/basetags :: message-panel" class="col-md-4"></div>

                    <!-- header - right side - action -->
                    <div class="col-md-4">
                        <span class="float-end"><a th:text="#{nav.backToList}" th:href="@{/ingredient/all}">Back to list<i class="fas fa-long-arrow-alt-right"></i></a></span>
                    </div>

                    <!-- form -->
                    <form class="needs-validation" method="post" enctype="multipart/form-data" action="#" th:object="${ingredient}"  th:action="${action} == 'new' ? @{/ingredient/add} : @{/ingredient/update/{id}(id=${ingredient.id})}">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" id="name" class="form-label" name="name" th:value="${ingredient.name}" placeholder="Name">
                            <div class="invalid-feedback">Enter name of ingredient</div>
                            <span th:if="${#fields.hasErrors('name')}" th:errors="${ingredient.name}" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description of ingredient</label>
                            <textarea class="form-control" id="description" name="description" placeholder="Description..." th:text="${ingredient.description}"></textarea>
                            <div class="invalid-feedback">Enter short description for ingredient</div>
                            <span th:if="${#fields.hasErrors('description')}" th:errors="${ingredient.description}" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary" type="submit" name="add" th:text="${action} != 'upd' ? 'Add' :'Update' ">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- footer html tag -->
<footer th:replace="fragments/basetags :: footer"></footer>
<script th:src="@{/webjars/jquery/jquery.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{/js/base-js.js}"></script>
</body>
</html>