<!DOCTYPE html>
<html   lang="hu" class="h-100" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/basetags :: head">
    <title>
        The Recipe Book
    </title>
</head>

<!-- body start -->
<body class="d-flex flex-column h-100">

<!-- html header tag include with navigation -->
<header th:replace="fragments/basetags :: header('ingredients')"></header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <div class="row mt-3">

            <!-- main content -->
            <div class="col-md-12 mx-2 rounded rounded-5 bg-light main-content" id="main-content">
                <div th:switch="${ingredients}" class="card card-default p-2 pt-4">
                    <div class="card-heading row">

                        <!-- header - left side - title and counter -->
                        <div class="col-md-4">
                            <h5 th:text="#{ingredients}">Ingredients</h5>
                            <span class="badge bg-secondary" th:text="${numberOfIngredients}"></span>
                        </div>

                        <!-- header - center - message panel -->
                        <div th:replace="fragments/basetags :: message-panel" class="col-md-4"></div>

                        <!-- header - right side - action -->
                        <div class="col-md-4">
                            <span class="float-end"><a th:text="#{nav.new.ingredient}" href="/ingredient/new">New ingredient<i class="fas fa-long-arrow-alt-right"></i></a></span>
                        </div>
                    </div>

                    <!-- content -->
                    <div th:case="*" class="card-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr class="table-dark">
                                <th th:text="#{id}">Id</th>
                                <th th:text="#{name}">Name</th>
                                <th th:text="#{description}">Description</th>
                                <th th:text="#{operations}">Operations</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="ing : ${ingredients}">
                                <td th:text="${ing.id}"></td>
                                <td th:text="${ing.name}"></td>
                                <td th:text="${ing.description}"></td>
                                <td>
                                    <a th:href="@{/ingredient/edit/{id}(id=${ing.id})}"  th:title="#{edit}" class="text-blue"><i class="fa fa-pen"></i></a>&nbsp;
                                    <a th:href="@{/ingredient/delete/{id}(id=${ing.id})}" th:title="#{delete}" class="text-red"><i class="fa fa-times red-icon"></i></a>
                                    <input type="hidden" name="_method" value="delete">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- footer html tag -->
<footer th:replace="fragments/basetags :: footer"></footer>
<script th:src="@{/webjars/jquery/jquery.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{/js/base-js.js}"></script>
</body>
</html>