<head th:fragment="head">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title th:text="#{rcp.title}"></title>

  <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/webjars/font-awesome/6.1.0/css/all.css"/>
  <link rel="stylesheet" href="/webjars/flag-icon-css/2.4.0/css/flag-icon.min.css"/>
  <link rel="stylesheet" href="/css/base-style.css" >
</head>

<header th:fragment="header(menu)">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark rounded-top rounded-2">
    <div class="container-fluid w-100">
      <a class="navbar-brand" href="#" th:text="#{rcp.title}"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div th:if="${menu} != 'login'" class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item active"><a class="nav-link incl-content" aria-current="page" href="/index" th:text="#{nav.home}">Home</a></li>

          <!-- Ingredient submenu -->
          <div class="dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink_ing" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{ingredients}">Ingredients</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_ing">
            <li><a class="dropdown-item" href="/ingredient/all" th:text="#{nav.list}">List</a></li>
            <li><a class="dropdown-item" href="/ingredient/new" th:text="#{nav.new.ingredient}">New ingredient</a></li>
          </ul>
          </div>

          <!-- Category submenu -->
          <div class="dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink_cat" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{recipeCategories}">Recipe categories</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_cat">
            <li><a class="dropdown-item" href="/category/all" th:text="#{nav.list}">List</a></li>
            <li><a class="dropdown-item" href="/category/new" th:text="#{nav.new.category}">New Category</a></li>
          </ul>
          </div>

          <!-- Unit of Measure submenu -->
          <div class="dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink_uom" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{units-of-measure}">Units of Measure</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_uom">
            <li><a class="dropdown-item" href="/uom/all" th:text="#{nav.list}">List</a></li>
            <li><a class="dropdown-item" href="/uom/new">New Unit of Measure</a></li>
          </ul>
          </div>

          <!-- Recipe submenu -->
          <div class="dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink_rcp" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{recipes}">Recipes</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_rcp">
            <li><a class="dropdown-item" href="/recipe/all" th:text="#{nav.list}">List</a></li>
            <li><a class="dropdown-item" href="/recipe/new">New Recipe</a></li>
          </ul>
          </div>

          <li class="nav-item"><a class="nav-link incl-content" href="/logout" tabindex="-1" aria-disabled="true" th:text="#{login.logout}">Logout</a></li>
        </ul>
        <form class="d-flex" method="post" action="#" th:action="@{/recipe/search}">
          <input class="form-control me-2" type="search" name="keyword" th:placeholder="#{field.search}">
          <button class="btn btn-outline-success" type="submit" th:text="#{button.search}">Search</button>
        </form>
        <div class="p-2">
        <a href='?lang=hu'><span class="flag-icon flag-icon-hu m-2"></span></a>
        <a href='?lang=en'><span class="flag-icon flag-icon-gb m-2"></span></a>
        <a href='?lang=de'><span class="flag-icon flag-icon-de m-2"></span></a>
        </div>
      </div>
    </div>
  </nav>

</header>
<footer th:fragment="footer" class="footer py-3 bg-dark mt-auto fixed-bottom">
  <div class="container">
    <span class="text-muted">prog4 project - 2022.</span>
  </div>
</footer>

<div th:fragment="message-panel" class="col-md-4">
  <div th:if="${success!=null}" class="alert" role="alert" th:classappend="${success}==true ? 'alert-primary' : 'alert-danger'">
    <span th:text="${message}"></span>
  </div>
</div>