main > .container {
    padding: 60px 15px 0;
    padding-bottom: 80px;
}

a {
    text-decoration: none !important;
}

.hidden {
    visibility: collapse !important;
}

.red-icon {
    color:red;
}

table .highlight {
    background-color: #bde9ba !important;
}
