<!DOCTYPE html>
<html   lang="hu" class="h-100" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/basetags :: head">
    <title>
        The Recipe Book
    </title>
</head>

<!-- body start -->
<body class="d-flex flex-column h-100">

<!-- html header tag include with navigation -->
<header th:replace="fragments/basetags :: header('index')"></header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <div class="row mt-3">

            <!-- main content -->
            <div class="col-md-12 mx-2 rounded rounded-5 bg-light main-content" id="main-content">


                <div class="row p-2">
                    <div class="card">
                        <img src="/images/gms-cookbook.jpg" class="card-img img-fluid rounded-3 shadow">
                        <div class="card-img-overlay overlay-dark text-white d-flex justify-content-center align-items-center">
                            <center>
                                <h1 th:text="#{index.title}">Programozás 4</h1>

                                <h3 th:text="#{index.subtitle}">Projektmunka</h3>
                                <p th:text="#{index.description}">Köszönet a kölcsönadott receptekért:</p>
                                <p><a class="text-dark" href="https://www.nosalty.hu" target="_blank"><strong>nosalty.hu</strong></a></p>
                                <p><a class="text-dark" href="https://www.mindmegette.hu" target="_blank"><strong>mindmegette.hu</strong></a></p>
                            </center>
                        </div>
                    </div>
                </div>




            </div>

        </div>
    </div>
</main>

<!-- footer html tag -->
<footer th:replace="fragments/basetags :: footer"></footer>
<script th:src="@{/webjars/jquery/jquery.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{/js/base-js.js}"></script>
</body>
</html>