<!DOCTYPE html>
<html   lang="hu" class="h-100" xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/basetags :: head">
  <title>
    The Recipe Book
  </title>
</head>

<!-- body start -->
<body class="d-flex flex-column h-100">

<!-- html header tag include with navigation -->
<header th:replace="fragments/basetags :: header('login')"></header>

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <div class="row mt-3">

      <!-- main content -->
      <div class="col-md-10 mx-2 rounded rounded-5 bg-light main-content" id="main-content">
        <div class="row">
          <div class="col-2">
          </div>
          <div class="bg-white p-4 p-lg-5 col-8">
            <h2 class="mb-1 text-dark mb-4" th:text="#{login.login}">Login</h2>
            <form action="" method="POST" class="needs-validation" novalidate>

              <div class="mb-4">
                <label class="visually-hidden" for="username" th:text="#{login.username}">Username</label>
                <div class="input-group">
                  <div class="input-group-text"><i class="fa fa-user"></i></div>
                  <input type="text" class="form-control" id="username" name="username" th:placeholder="#{login.username}">
                </div>
              </div>
              <div class="mb-4">
                <label class="visually-hidden" for="password" th:text="#{login.password}">Password</label>
                <div class="input-group">
                  <div class="input-group-text"><i class="fa fa-key"></i></div>
                  <input type="password" class="form-control" id="password" name="password" th:placeholder="#{login.password}">
                </div>
              </div>
              <div class="mb-4">
                <label class="visually-hidden" for="code">2fa code</label>
                <div class="input-group">
                  <div class="input-group-text"><span class="fas fa-lock"></span></div>
                  <input type="text" name="code" class="form-control" id="code" placeholder="2fa code">
                </div>
              </div>
              <button type="submit" class="btn btn-primary" th:text="#{login.login}">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- footer html tag -->
<footer th:replace="fragments/basetags :: footer"></footer>
<script th:src="@{/webjars/jquery/jquery.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{/js/base-js.js}"></script>
</body>
</html>